/* others */
.clear{clear:both}
img{ vertical-align:middle}
.botton_style1{ padding:2px 6px 4px 6px; height:22px; color:#333; border:1px #8b8b8b solid; background:url(../images/button_bg1.png) bottom repeat-x; background-color:#fff}
.botton_style2{ padding:2px 6px 4px 6px; height:22px; color:#fff; border:1px #c72c2c solid; background:url(../images/button_bg2.png) bottom repeat-x; background-color:#fea3a1}
.botton_style3{ padding:2px 6px 4px 6px; height:22px; color:#fff; border:1px #3ea3da solid; background:url(../images/button_bg3.png) bottom repeat-x; background-color:#6ad0ea}
.botton_style4{ padding:2px 6px 4px 6px; height:22px; color:#fff; border:1px #000 solid; background:url(../images/button_bg4.png) bottom repeat-x; background-color:#0969a4}

/* header */
.header { position:fixed; width:100%; z-index:555}
.header .top{ height:64px; background:#fff;}
.header .top .logo{ float:left; line-height:60px;}
.header .top .logo img{ height:100%;}
.header .top .search{ float:left; margin-left:5%; line-height:60px;}
.header .top .search span{ margin-right:40px;}
.header .top .search input{ border:none; width:200px; text-indent:10px;}
.header .top .right{ padding-right:40px;}
.header .top .right li{ float:left; line-height:60px; margin-left:20px;}
.header .top .right li span{ color:#e91e1e}

.header .bottom{ height:48px; background:#d63a35; border-top:1px #dbdbdb solid; border-bottom:4px #efeff4 solid; }
.header .bottom .user{ float:left; width:251px;}
.header .bottom .user .img{ float:left; width:40px; height:40px; margin-left:15px; margin-right:10px; margin-top:4px;}
.header .bottom .user .img img{ width:100%; height:100%;-ms-border-radius: 50%;-moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%;border-radius: 50%; }
.header .bottom .user .txts{ float:left; color:#fff; text-align:left; margin-top:8px; line-height:18px;}
.header .bottom .user .txts .T1,.header .bottom .user .txts .T1 a{ color:#fff;}
.header .bottom .user .txts .T2,.header .bottom .user .txts .T2 a{ color:#e79c9a; font-size:12px;}
.header .bottom .btns{float:right; margin-right:10px; margin-top:15px; }
.header .bottom input{ padding:0; border:none;color:#e79c9a; background-color:transparent; background:url(../images/btn_arrow.png) right no-repeat; padding-right:18px }
.header .bottom input:hover{color:#ddd; cursor:pointer;}

.header .menus{ float:left; }
.header .menus li{ float:left; line-height:48px;}
.header .menus li a{ display:block; width:98px; height:48px; padding-left:15px; text-align:center;color:#fff;  }
.header .menus li a:hover{ color:#e79c9a}

.header .menus .i-1 a{ width:58px; background:url(../images/home_a.png) center no-repeat}
.header .menus .i-2 a{  background:url(../images/taget_a.png) 15px 15px   no-repeat; }
.header .menus .i-3 a{  background:url(../images/table_a.png) 15px 15px  no-repeat; }
.header .menus .i-4 a{  background:url(../images/search_a.png) 15px 15px no-repeat; }
.header .menus .i-5 a{  background:url(../images/analysis_a.png) 15px 15px no-repeat; }
.header .menus .i-6 a{  background:url(../images/sys_a.png) 15px 15px no-repeat; }
.header .menus .i-7 a{  background:url(../images/ipc_a.png) 23px 17px no-repeat; }

.header .menus .i-1 a.cur{background:url(../images/home_b.png) center no-repeat;background-color:#efeff4; }
.header .menus .i-2 a.cur{background:url(../images/taget_b.png) 15px 15px no-repeat;background-color:#efeff4; }
.header .menus .i-3 a.cur{background:url(../images/table_b.png) 15px 15px no-repeat;background-color:#efeff4; }
.header .menus .i-4 a.cur{background:url(../images/search_b.png) 15px 15px no-repeat;background-color:#efeff4; }
.header .menus .i-5 a.cur{background:url(../images/analysis_b.png) 15px 15px no-repeat;background-color:#efeff4; }
.header .menus .i-6 a.cur{background:url(../images/sys_b.png) 15px 15px no-repeat;background-color:#efeff4; }
.header .menus .i-7 a.cur{background:url(../images/ipc_b.png) 23px 17px no-repeat;background-color:#efeff4; }
.header .menus li a.cur{ color:#515151;}

/* left_sider */
.left_sider{ position: fixed; width:250px; height:100%; border-right:1px #d1d1d1 solid; z-index:333}
.left_sider .container{ position: fixed; width:243px; height:100%; background:#fbfbfb; border-right:1px #dcdcdc solid; z-index:333}
.LsiderBG{ position: fixed; width:250px; height:100%; background:#efeff4; ; z-index:300}

.left_sider .dis{ height:113px; }
.left_sider .title{height:50px; line-height:50px; background:#fff; border-bottom:1px #ebebeb solid; text-align:left;}
.left_sider .title h3{ float:left; font-size:14px; margin-left:20px;}
.left_sider .title h4{ float:right; margin-top:15px; margin-right:10px;}

.left_sider dt{height:40px; line-height:40px; background:#fff;border-bottom:1px #ebebeb solid; text-align:left;}
.left_sider dt h3{ float:left; padding-left:50px;}
.left_sider dt h4{ float:right; margin-right:20px; margin-top:10px;}
.left_sider .dt-1{ background:#fff url(../images/user_b.png) 15px 6px no-repeat}
.left_sider .dt-2{ background:#fff url(../images/app_b.png) 15px 6px no-repeat}
.left_sider .dt-3{ background:#fff url(../images/setting_b.png) 15px 6px no-repeat}
.left_sider dt.dt_cur{background:#d53a35}
.left_sider dt.dt_cur a{ color:#fff;}
.left_sider dt.dt_cur .dt-1{ background:#d53a35 url(../images/user_a.png) 15px 6px no-repeat}
.left_sider dt.dt_cur .dt-2{ background:#d53a35 url(../images/app_a.png) 15px 6px no-repeat}
.left_sider dt.dt_cur .dt-3{ background:#d53a35 url(../images/setting_a.png) 15px 6px no-repeat}
.left_sider  dd{ text-align:left; padding-left:48px}
.left_sider  dd li{ padding:5px 0;font-size:12px;}
.left_sider  .dd_cur a{ color:#d53a35}


/* right_sider */
.right_sider{ position: absolute; width:100%; height:100%;z-index:1;background-color:white;  }
.right_sider .container{ float:left; width:100%; height:100%; position:relative}
.right_sider .Rwrap{padding-left:251px; padding-top:113px; }
.right_sider .nav{ height:39px; line-height:39px; text-align:left; background:#f9f9f9; border-bottom:1px #d9d9d9 solid}
.right_sider .nav img{ margin-left:20px;}
.right_sider .nav span{ color:#949494}
.right_sider .search{ padding-left:0px; padding-bottom:0;margin-top: 2%}
.right_sider .search .wrap{ border:0px #eee solid; /* background:#fafafa;  height:73px;*/ }
.right_sider .search .search_input{ width:46.835%; margin:0 auto; height:32px; border:1px #c8c7cc solid; background:#fff; margin-top:18px; position:relative;}
.right_sider .search .search_input input[type=text]{ border:none; width:100%; height:100%; text-indent:15px; padding:0}
.right_sider .search .search_input .btns{ position:absolute; right:-1px; top:-1px;}
.right_sider .search .search_input .btns .btn1{ border:none; padding:0; height:34px; background:url(../images/search2.png) 10px 10px no-repeat; background-color:#d23631; color:#fff; padding-left:30px; padding-right:10px;-ms-border-radius: 0 3px 3px 0;-moz-border-radius:  0 3px 3px 0; -webkit-border-radius:  0 3px 3px 0; -o-border-radius:  0 3px 3px 0;border-radius:  0 3px 3px 0;}
.right_sider .search .search_input .btns .btn2{ border:none; padding:0; height:34px; background:url(../images/analysis.png) 10px 10px no-repeat; background-color:#d23631; color:#fff; padding-left:30px; padding-right:10px;-ms-border-radius: 0 3px 3px 0;-moz-border-radius:  0 3px 3px 0; -webkit-border-radius:  0 3px 3px 0; -o-border-radius:  0 3px 3px 0;border-radius:  0 3px 3px 0;}

.right_sider .search .search_input .btns0{ position:absolute; left:-130px; top:-1px;}
.right_sider .search .search_input .btns0 .btn1{ border:none; padding:0;width:110px; height:34px;  background-color:#00a9e2; color:#fff; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;}
.right_sider .search .search_input .btns0 .btn1:hover{ background:#0898c9; cursor:pointer}
.right_sider .search .search_input .btns2{ position:absolute; right:-120px; top:-1px;}
.right_sider .search .search_input .btns2 .btn1{ border:none; padding:0;width:110px; height:34px; border:1px #c5c5c5 solid;  background-color:#fff; color:#555; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;}
.right_sider .search .search_input .btns2 .btn1:hover{border:1px #d53a35 solid; color:#d53a35; cursor:pointer}


/* right_sider > block1 */
.block1{ padding:0% 12%; background:#fff; margin-top: 2%;}
.block1 .lists .title{ height:35px; line-height:35px; background:#fbfbfb; border:1px #e6e6e6 solid; border-bottom:0; text-align:left;}
.block1 .lists .title h3{margin-left:10px; font-size:14px;}
.block1 .lists table{ border-collapse:collapse; width:100%; text-align:left}
.block1 .lists th{ border:1px #e9e9e9 solid;border-bottom:1px #e9e9e9 solid; background:#fff; padding:5px;}
.block1 .lists td{border:1px #e9e9e9 solid;padding:5px; }
.block1 .lists tr:nth-child(2n){ background:#fcfcfc;}
.block1  a{ color:#026eec}
.block1  a:hover{ color:#d50000}
.block1 .pages{border:1px #e9e9e9 solid; border-top:0; margin-top:0; padding:15px 0}
.block1 .btns{border:none; padding:0; font-size:12px;  height:25px; border:1px #c8c8ca solid;  background-color:#fff; color:#a2a2a2; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; margin-left:5px; padding:0 15px;}
.block1 .btns:hover{ border:1px #d53a35 solid; color:#d53a35; cursor:pointer}
.block1 .btn1{ border:1px #d53a35 solid; color:#d53a35;}
.block1 .btn1:hover{ background:#d53a35; color:#fff;}
.block1 .T1{ color:#026eec}
.block1 .T2{ color:#d50000}

/* right_sider > block2 */
.block2{ padding: 1% 20%;background:#fff;}
.block2 .lists{ padding:10px 0; border:0px #e7e7e7 solid;-ms-border-radius: 4px;-moz-border-radius:4px; -webkit-border-radius:  4px; -o-border-radius: 4px;border-radius: 4px; position:relative; text-align:left }
.block2 .lists .title{ position:absolute; left:36px; top:-12px;}
.block2 .lists .title h3{ padding:0 12px; background:#fff; color:#e4211d; font-size:14px;}
.block2 .lists .wrap{ width:68%; margin:0 auto;}
.block2 .lists .tt{ padding-bottom:12px; margin-bottom:10px; border-bottom:1px #c7c7c7 solid}
.block2 .lists .tt span{ color:#a3a3a3; margin-left:10px;}
.block2 .lists table{ width:100%}
.block2 .lists  td{ padding:2px 0;}
.block2 .lists  td input{ width:98%; border:1px #c8c8ca solid; height:24px; background:#fff; text-indent:15px;}
.block2 .lists  td textarea{ width:98%; border:1px #c8c8ca solid; background:#fff; text-indent:15px;}
.block2 .lists  td select{width:98%; border:1px #c8c8ca solid; height:24px; background:#fff; text-indent:15px;}
.block2 .lists  td .input li{ float:left; width:45%; position:relative;}
.block2 .lists  td .input li.i-2{ width:10%; text-align:center; line-height:32px;}
.block2 .lists  td .input .cal{ position:absolute; top:8px; right:8px; background:url(../images/cal.png) no-repeat; width:20px; height:20px;}
.submit1{ padding:20px 0 30px 0; text-align:center}
.submit1 .btn1{ padding:0; border:none; width:120px; height:34px; background:#007aff;color:#fff;-ms-border-radius: 4px;-moz-border-radius:4px; -webkit-border-radius:  4px; -o-border-radius: 4px;border-radius: 4px;}
.submit1 .btn2{ padding:0; border:none; width:120px; height:34px; background:#c82f2a; color:#fff;-ms-border-radius: 4px;-moz-border-radius:4px; -webkit-border-radius:  4px; -o-border-radius: 4px;border-radius: 4px;}
.submitBG1{ background:#fff}

/* right_sider > block3 */
.block3{ padding: 20px 25px;background:#fafafa;}
.block3 .fliter{ text-align:left; color:#828282}
.block3 .fliter span{ margin-left:20px;}
.block3 .fliter .T1{ border:1px #e2e2e2 solid; background:#fff; height:40px; line-height:40px;}
.block3 .fliter .T2,.block3 .fliter .T3{border-bottom:1px #f0f0f0 solid; padding:10px 0}
.block3 .fliter .T4{ margin-top:15px;}
.block3 .fliter .T4 textarea{ width:100%; height:142px;}
.block3 .keywords table{ border-collapse:collapse; width:100%}
.block3 .keywords td{ border:1px #e1e1e1 solid; padding:10px; background:#fff;}

/* right_sider > block4 */
.block4{ padding:2% 1%;background:#fff;}
.block4 .items{ border:1px #e5e5e5 solid; height:45px;background:#e7e9e8;}
.block4 .items li{ float:left; padding:0 35px; height:45px; line-height:45px; color:#909193}
.block4 .items li a{color:#909193}
.block4 .items li a:hover{color:#d50000}
.block4 .items li.cur{ height:46px; color:#555;background:#fff; border-right:1px #ddd solid;}
.block4 .items li.cur a{color:#555} 
.block4 .items h4{ float:right; height:45px; line-height:45px; color:#8e908f; padding-right:25px;}
.block4 .items h4 span{color:#d53a35}
.block4 .items h4 .btn1{ border:none; padding:0; padding:0 15px; height:25px; border:1px #c5c5c5 solid;  background-color:#fff; color:#a9a9a9; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;}
.block4 .items h4 .btn1:hover{ border:1px #d53a35 solid; color:#d53a35; cursor:pointer}
.block4 .items_list{ border:1px #e5e5e5 solid; border-top:none; padding:20px;}
.block4 .items_list .L1{border-bottom:1px #efefef solid; text-align:left; padding-bottom:20px;}
.block4 .items_list .L1 h3{ float:left; font-size:14px;}
.block4 .items_list .L1 h3 span{ color:#a1a1a1; margin-left:15px;}
.block4 .items_list .L1 h4{ float:right;}
.block4 .items_list .L1 h4 .btn1{ border:none; padding:0; background:url(../images/import.png) 12px 0px no-repeat;padding:0 15px 0 40px; height:25px; border:1px #c5c5c5 solid;  background-color:#fff; color:#a9a9a9; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;}
.block4 .items_list .L1 h4 .btn1:hover{ border:1px #d53a35 solid; color:#d53a35; cursor:pointer}
.block4 .items_list .lists{ border:1px #eee solid;margin-top:25px;}
.block4 .items_list .lists .title{ height:50px; line-height:50px;border-bottom:1px #eee solid; position: relative;}
.block4 .items_list .lists .title h3{ float:left; margin-left:10px}
.block4 .items_list .lists .title h4{ float:right;}
.block4 .items_list .lists .title h4 li{ float:left;width:120px; border-left:1px #eee solid}
.block4 .items_list .lists .title h4 li a:LINK{text-decoration: underline;}
.block4 .items_list .lists .title h4 li.cur{ background:#eee}
.block4 .items_list .lists .title h4 li.cur a:LINK{text-decoration: none}
.block4 .items_list .lists .title h4 .i-3{ width:50px; padding:0}
.block4 .items_list .lists .contents{ text-align:center; padding:15px 0}
.block4 .items_list .lists_left{ float:left; width:49.2%}
.block4 .items_list .lists_right{ float:right; width:49.2%}
.block4 .items_list table{ border-collapse:collapse; width:90%; text-align:left}
.block4 .items_list th{ border:1px #e9e9e9 solid;border-bottom:1px #e9e9e9 solid; background:#fff; padding:5px;}
.block4 .items_list td{border:1px #e9e9e9 solid;padding:5px; }
.block4 .items_list tr:nth-child(2n){ background:#fcfcfc;}

/* right_sider > block5 */
.block5{ padding:15px;background:#fff;}
.block5 .btns{border:none; padding:0; font-size:12px;  height:25px; border:1px #c8c8ca solid;  background-color:#fff; color:#a2a2a2; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; margin-left:5px; padding:0 15px;}
.block5 .btns:hover{ border:1px #d53a35 solid; color:#d53a35; cursor:pointer}
.block5 .btn1{background:url(../images/download.png) 9px no-repeat;vertical-align:middle;}
.block5 .btn2{background:url(../images/favor.png) 9px no-repeat;vertical-align:middle;}
.block5 .btn3{background:url(../images/analysis2.png) 9px no-repeat;vertical-align:middle;}
.block5 .btn5{ border:1px #d53a35 solid; color:#d53a35;vertical-align:middle;}
.block5 .btn6{background:url(../images/compare.png) 9px no-repeat;vertical-align:middle;}
/* .block5 .btn5:hover{ background:#d53a35; color:#fff;} */
.block5 select{ height:24px; border:1px #c8c8ca solid;margin-left:5px; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;color:#a2a2a2;}
.block5 .L1{ padding:5px 0; border-bottom:1px #efefef solid; text-align:left; }
.block5 .L1 span{ color:#d53a35;}
.block5 .L1 h3{ margin-left:20px;font-size:12px; }
.block5 .L2{ text-align:left;}
.block5 .L2 li{  float:left; width:33.33333%; padding:5px 0;text-align:center;}
.block5 .L2 li h3{font-size:12px}
.block5 .L2 .i-1 h3{ margin-left:20px; text-align:left;}
.block5 .L3{ height:35px; line-height:35px; border:1px #efefef solid; text-align:left; }
.block5 .L3 .left{ margin-left:20px;font-size:12px;}
.block5 .L3 .right{ margin-right:20px;font-size:12px;}
.block5 i.Pnums{ font-style:normal; font-size:12px; padding:2px 0; border:1px #d53738 solid;}
.block5 i.Pnums a{ padding:2px 5px; color:#878787;  }
.block5 i.Pnums a:hover{color:#d23830; }
.block5 i.Pnums a.cur{ color:#d23830; background:#ecedef}
.block5 i.Pnums a:nth-child(2){border-left:1px #d53738 solid;border-right:1px #d53738 solid;}

.block5 .lists li{ margin-top:15px; padding-bottom:15px; border-bottom:1px #eee solid}
.block5 .lists .title h3{ float:left; margin-left:20px;}
.block5 .lists .title h3 .T1{ font-size:14px; color:#0874fb;}
.block5 .lists .title h3 .T1 a{color:#0874fb;}
.block5 .lists .title h3 .T1 a:hover{color:#d53a35;}
.block5 .lists .title h3 .T1 i{color:#d53a35; font-style:normal}
.block5 .lists .title h3 .T2a{ background:#006fe7; color:#fff; padding:0px 5px 1px 5px; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; margin-left:10px;}
.block5 .lists .title h3 .T2b{ background:#888; color:#fff; padding:0px 5px 1px 5px; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; margin-left:10px;}
.block5 .lists .title h3 .T2c{ background:green; color:#fff; padding:0px 5px 1px 5px; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; margin-left:10px;}
.block5 .lists .title h3 .T3{ color:#c8c8c8;margin-left:10px;}
.block5 .lists .title h4{ float:right; margin-right:20px; position:relative}
.block5 .lists .contents{ margin-top:10px;}
.block5 .lists .contents i{ font-style:normal}
.block5 .lists .contents .img{ float:left; width:10%;  margin-left:1.3%}
.block5 .lists .contents .img img{ max-width: 90%; height: auto} 
.block5 .lists .contents .txts{ float:left; width:87.4%; margin-left:1.3%; text-align:left; font-size:12px;}
.block5 .lists .contents .txts span{ display:block; }
.block5 .lists .contents .txts span.T1,.block5 .lists .contents .txts span.T2{ padding:5px 0; border-bottom:0px #eee solid; color:#aaa}
.block5 .lists .contents .txts span.T1 i{ color:#006de0}
.block5 .lists .contents .txts span.T1 i a{ color:#006de0}
.block5 .lists .contents .txts span.T2 i{ margin-right:20px;}
.block5 .lists .contents .txts span.T2 i.i1{ color:#555}
.block5 .lists .contents .txts span.T2 i.i2{ color:#006de0;cursor: pointer;}
.block5 .lists .contents .txts span.T2 b{ font-weight:100;}
.block5 .lists .contents .txts span.T3{ padding-top:2px;}
.block5 .lists .contents .txts span.T3 td{ vertical-align:top}
.block5 .lists .contents .txts span.T3 .TD1{ color:#aaa; width:50px;}
.block5 .lists .contents .txts span.T3 .TD2{ line-height:22px;}
.block5 .lists .contents .txts span.T3 i{ color:#d53a35}

.block5 .lists2{ border:1px #eee solid; color:#888; text-align:left; font-size:12px;}
.block5 .lists2 .title{ height:30px; line-height:30px;}
.block5 .lists2 .title h3{ float:left; margin-left:20px;font-size:12px; font-weight:bold}
.block5 .lists2 li{ padding:5px; border-top:1px #eee solid; }
.block5 .lists2 li span{ margin-left:10px;}

.contrast { width:100%;}
.contrast .tt{ background:#fafafa; height:35px; line-height:35px;}
.contrast .tt h5{ float:left; padding-left:30px; background:url(../images/red.png) 10px 10px no-repeat;color:#aaaaac}
.contrast .tt h6{ float:right; margin-right:3px; margin-top:3px; }
.contrast dt{ height:38px; line-height:38px; text-align: center; background:#fff; }
/* .contrast dt a{ background:url(../images/arrow_down3_a.png) right no-repeat; padding-right:25px; color:#999;} 
.contrast dt a:hover{ color:#d50000}*/
.contrast dt.cur{background:#d53a35}
/* .contrast dt.cur a{ background:url(../images/arrow_down3_b.png) right no-repeat; color:#fff; } */
.contrast dd{ padding:12px 10px;background:#fafafa; text-align:left; border-bottom:none; font-size:12px}
.contrast dd span{ display:block; color:#888;}
.contrast dd span b{ font-weight:100; color:#d50000}
.contrast li{ border-bottom:0px}

.block5 .contrast{ position:absolute; left:-237px; top:0}

/* right_sider > block6 */
.block6{padding:15px;background:#fff;}
.block6 .items{ border:1px #e5e5e5 solid; height:45px;background:#e7e9e8;}
.block6 .items li{ float:left; padding:0 12px; height:45px; line-height:45px; color:#909193}
.block6 .items li a{color:#909193}
.block6 .items li a:hover{color:#d50000}
.block6 .items li.cur{ height:46px; color:#555;background:#fff; border-right:1px #ddd solid;}
.block6 .items li.cur a{color:#555} 
.block6 .items h4{ float:right; height:45px; line-height:45px; color:#8e908f; padding-right:3px;}
.block6 .btns{border:none; padding:0;  height:25px; border:1px #c8c8ca solid;  background-color:#fff; color:#a2a2a2; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;  padding:0 15px;}
.block6 .btns:hover{ border:1px #d53a35 solid; color:#d53a35; cursor:pointer}
.block6 .btn1{background:#fff url(../images/download.png) 12px 4px no-repeat;padding:0 15px 0 30px;}
.block6 .btn1b{background:#fff url(../images/eye.png) 12px 4px no-repeat;padding:0 15px 0 30px;}
.block6 .btn2{background:#fff url(../images/favor.png) 12px 4px no-repeat;padding:0 15px 0 30px;}
.block6 .btn3{background:#fff url(../images/analysis2.png) 12px 4px no-repeat;padding:0 15px 0 30px;}
.block6 .btn4{ background:none; border:1px #fbcecb solid; color:#fff; }

.block6 .items_list{ border:1px #e5e5e5 solid; border-top:none; padding:20px 22px;}
.block6 .Llist{ float:left; width:100%;padding-top:32px;}
.block6 .Llist .tt{ font-size:20px; padding-bottom:20px; border-bottom:1px #eee solid; margin-bottom:20px;}
.block6 .Llist .tt span{ font-size:14px;}
.block6 .Llist .subtt{ font-size:16px; height:50px; line-height:50px; background:#f7f7f7; margin-bottom:1px;}
.block6 .Llist .subtt a{ padding-right:20px; background:url(../images/arrow_down2.png) right no-repeat}
.block6 .Llist .contents{ padding:30px 0;}
.block6 .Llist .contents .txts{ width:80%; margin:0 auto; text-align:left}
.block6 .Llist .contents .table1{ width:80%; margin:0 auto; border-collapse:collapse; border:1px #ccc solid; text-align:left}
.block6 .Llist .contents .table1 th{ padding:5px 20px;font-size:12px; border-bottom:1px #ccc dotted}
.block6 .Llist .contents .table1 td{ padding:5px; font-size:12px; border-bottom:1px #ccc dotted}
.block6 .Llist .contents .table1 a{ color:#007aff;}
.block6 .Llist .contents .table2{ margin:0 auto; border-collapse:collapse; border:1px #ccc solid; text-align:left}
.block6 .Llist .contents .table2 th{ padding:10px; font-size:12px; border-bottom:1px #ccc dotted; text-align:center}
.block6 .Llist .contents .table2 td{ padding:10px; font-size:12px; border-bottom:1px #ccc dotted; text-align:left}
.block6 .Llist .contents .table2 a{ color:#007aff;}

.block6 .Rlist{ float:right; width:14%;}
.block6 .Rlist dt{background:#d53a35; height:38px; line-height:38px; color:#fff; margin-bottom:1px; }
.block6 .Rlist dt h3{ float:left;margin-left:18px;}
.block6 .Rlist dt h4{ float:right;margin-top:6px; margin-right:6px;line-height:25px; }
.block6 .Rlist dt h4 a{ color:#fff; font-size:12px;}
.block6 .Rlist dt h4 a:hover{ color:#ddd}
.block6 .Rlist dd li{ border:1px #ddd solid; border-top:none; padding:15px 5px 15px 25px; font-size:12px; text-align:left; background:url(../images/arrow_right.png) 6px 17px no-repeat}

/* right_sider > block7 */
.block7{ padding:15px;background:#fff;}
.block7 .Lsider{ float:left; width:78%;}
.block7 .Rsider{ float:right; width:20%;}

.block7 .Lsider .Lwrap{ border:1px #eee solid; padding:25px}
.block7 .Lsider .intro{ padding:10px;}
.block7 .Lsider .intro .left{ width:50%}
.block7 .Lsider .intro .right{ width:49%; }
.block7 .Lsider .intro .left .img{ float:left; width:26.8%; padding:2px; border:1px #eee solid}
.block7 .Lsider .intro .left .img img{ width:100%;}
.block7 .Lsider .intro .left .txts{ float:left; margin-left:9%; text-align:left;}
.block7 .Lsider .intro .left .txts span.T1{ display:block; color:#333; margin-bottom:5px;}
.block7 .Lsider .intro .left .txts span.T1 i{ color:#ce3432}
.block7 .Lsider .intro .left .txts span.T2{ display:block; color:#bfbfbf;margin-bottom:5px;}
.block7 .Lsider .intro .left .txts span.T3{ display:block; color:#bfbfbf;margin-bottom:20px;}
.block7 .Lsider .intro .left .txts span.T2 i{ color:#333}
.block7 .Lsider .intro .left .txts span.T3 i{ color:#333}
.block7 .btns{border:none; padding:0; font-size:14px;  height:32px; border:1px #c8c8ca solid;  background-color:#fff; color:#a2a2a2; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; margin-right:5px; padding:0 15px 0 35px;}
.block7 .btns:hover{ border:1px #d53a35 solid; color:#d53a35; cursor:pointer}
.block7 .btn1{background:#d43730 url(../images/money.png) 12px 6px no-repeat;border:1px #d43730 solid; color:#fff;}
.block7 .btn1:hover{ border:1px #d53a35 solid; color:#fff; cursor:pointer}
.block7 .btn2{background:url(../images/user2.png) 12px 6px no-repeat;}
.block7 .Lsider .intro .right .txts td{ padding:5px;}
.block7 .Lsider .intro .right .txts .TD1{ color:#bbb; text-align:right}
.block7 .Lsider .intro .right .txts .TD2{ color:#333; text-align:left}
.block7 .Lsider .intro .right .txts .TD2 .T1{ color:#dc3932}
.block7 .Lsider .intro .right .txts .TD2 .T2{ color:#0965e2}
.block7 .Lsider .lists .title{ border-bottom: 1px #eee solid; padding-bottom:10px; text-align:left; margin-top:20px;}
.block7 .Lsider .lists li{ border:1px #eee solid; padding:20px; margin-top:15px; text-align:left}
.block7 .Lsider .lists li:hover{ background-color:#f7f7f7}
.block7 .Lsider .lists li .txts1{ float:left; width:25%; border-right:1px #eee solid;}
.block7 .Lsider .lists li .txts1 dt{ font-weight:bold; margin-bottom:10px;}
.block7 .Lsider .lists li .txts1 dd{ background:url(../images/link.png) no-repeat; padding-left:25px; font-size:12px;}
.block7 .Lsider .lists li .txts1 .T1{ display:block; color:#aaa;}
.block7 .Lsider .lists li .txts1 .T1 i{ color:#006ce2}
.block7 .Lsider .lists li .txts1 .T1 b{ color:#333; font-weight:100}
.block7 .Lsider .lists li .txts2{ float:left; margin-left:4.8%;}
.block7 .Lsider .lists li .txts2 dt{ background:url(../images/user3.png) no-repeat; padding-left:25px; font-weight:bold; margin-bottom:10px;}
.block7 .Lsider .lists li .txts2 dd{ padding-left:25px; font-size:12px;}
.block7 .Lsider .lists li .txts2 .T1{ display:block; color:#aaa;}
.block7 .Lsider .lists li .txts2 .T1 i{ color:#006ce2}
.block7 .Lsider .lists li .txts2 .T1 b{ color:#333; font-weight:100}

.block7 .Rsider .lists1 li{ border-bottom:1px #eee solid; padding:10px 10px 10px 2px;}
.block7 .Rsider .lists1 .img{ float:right; width:18%;}
.block7 .Rsider .lists1 .img img{ width:100%;-ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;}
.block7 .Rsider .lists1 .txts{ float:left; width:80%; text-align:left;}
.block7 .Rsider .lists1 .txts .T1{ display:block;}
.block7 .Rsider .lists1 .txts .T2{ display:block; color:#aaa ; font-size:12px;}

.block7 .Rsider .lists2 .title{  text-align:left;border-bottom:1px #eee solid; padding:20px 0 10px 5px}
.block7 .Rsider .lists2 li{ margin-top:20px; text-align:left; padding-left:70px; padding-right:10px; height:50px;}
.block7 .Rsider .lists2 .i-1{ background:url(../images/icon1.jpg) 5px 0 no-repeat}
.block7 .Rsider .lists2 .i-2{ background:url(../images/icon2.jpg) 5px 0 no-repeat}
.block7 .Rsider .lists2 .i-3{ background:url(../images/icon3.jpg) 5px 0 no-repeat}
.block7 .Rsider .lists2 .i-4{ background:url(../images/icon4.jpg) 5px 0 no-repeat}
.block7 .Rsider .lists2 .i-5{ background:url(../images/icon5.jpg) 5px 0 no-repeat}
.block7 .Rsider .lists2 .i-6{ background:url(../images/icon6.jpg) 5px 0 no-repeat}
.block7 .Rsider .lists2  .T1{ display:block;}
.block7 .Rsider .lists2  .T2{ display:block; color:#aaa ; font-size:12px;}


/* right_sider > block8 */
.block8{ padding:15px;background:#fff;}
.block8 .lists .title{ border-bottom: 1px #eee solid; padding-bottom:10px; text-align:left; }
.block8 .lists .title h3{ float:left;}
.block8 .lists .title h4{ float:right; margin-right:10px;}
.block8 .lists li{ border:1px #eee solid; padding:20px 20px 40px 20px; margin-top:15px; text-align:left; position:relative}
.block8 .lists .buttons{ position: absolute; right:15px; bottom:10px;}
.block8 .lists li:hover{ background-color:#f7f7f7}
.block8 .lists li .txts1{ float:left; width:25%; border-right:1px #eee solid;}
.block8 .lists li .txts1 dt{ font-weight:bold; margin-bottom:10px;}
.block8 .lists li .txts1 dd{ background:url(../images/link.png) no-repeat; padding-left:25px; font-size:12px;}
.block8 .lists li .txts1 .T1{ display:block; color:#aaa;}
.block8 .lists li .txts1 .T1 i{ color:#006ce2}
.block8 .lists li .txts1 .T1 b{ color:#333; font-weight:100}
.block8 .lists li .txts2{ float:left; margin-left:4.8%;}
.block8 .lists li .txts2 dt{ background:url(../images/user3.png) no-repeat; padding-left:25px; font-weight:bold; margin-bottom:10px;}
.block8 .lists li .txts2 dd{ padding-left:25px; font-size:12px;}
.block8 .lists li .txts2 .T1{ display:block; color:#aaa;}
.block8 .lists li .txts2 .T1 i{ color:#006ce2}
.block8 .lists li .txts2 .T1 b{ color:#333; font-weight:100}

.block8 .btns{border:none; padding:0; font-size:12px;  height:25px; border:1px #c8c8ca solid;  background-color:#fff; color:#a2a2a2; -ms-border-radius:3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; margin-left:5px; padding:0 15px;}
.block8 .btns:hover{ border:1px #d53a35 solid; color:#d53a35; cursor:pointer}
.block8 .btn1{background:url(../images/export.png) 8px 0px no-repeat;padding:0 15px 0 30px;}
.block8 .btn2{ border:1px #d53a35 solid; color:#d53a35;}
.block8 .btn2:hover{ background:#d53a35; color:#fff;}

/* subfield 分栏  */
.subfield .SwrapL{ padding-left:251px;padding-top:0;}
.subfield .SwrapR{ padding-top:0;}
.subfield .Sleft{ position:absolute; left:0; top:228px; width:60%; height:75%; overflow-y:scroll;}
.subfield .Rleft{position:absolute; left:60%; top:228px; width:40%; height:75%; overflow-y:scroll;}
/* footer */
.footer{ width:100%;}


/* login */
.clear{clear:both}
/* body{ background:url(../images/land/bg.jpg)} */

/* land */
/* .land{height:548px; background:url(../images/land/dl.png) top center no-repeat; padding-top:7%; color:#888  } */
 .land{height:548px;  padding-top:7%; color:#888  }
.land .wrap{ width:575px;  padding:20px 20px 30px 20px; background-color:#fff; margin:0 auto; -ms-border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px;border-radius: 10px; text-align: left}

.land .logo{ padding:5px; padding-top:0}
.land .T1{ margin-bottom:15px;}
.land .contents{ border:1px #e6e6e6 solid; padding:25px;-ms-border-radius: 3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px; position:relative}

.land h3{ position:absolute; top:-15px; left:20px; color:#d93529; padding:5px 10px; background:#fff; font-size:16px}
.land .input { height:33px; position:relative;}
.land .icon{ position:absolute; top:8px; left:12px; font-size:12px; color:#c4c4c6}
.land .icon img{ margin-right:10px;}
.land .i-1{ border:1px #ddd solid;}
.land .i-2{ border:1px #ddd solid; border-top:none}
.land .input input{ padding:0; margin:0;border:none; width:100%; height:100%; text-indent:95px; }
.land .T2{ margin-top:15px; padding-bottom:15px; border-bottom:1px #ddd dotted}
.land .T3{ margin-top:15px;}
.land .T3 input{color:#fff; border:none; margin:0px; background:#d53a35 url(../images/land/login.png) 55px 14px no-repeat;  padding:10px 31px 10px 18px;-ms-border-radius: 3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;border-radius: 3px;}

/*download page*/
.download_box .d_con {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.download_box .save_scopeType {
    height: 58px;
    background: url(../images/down.png) left top no-repeat;
}
ul {
    list-style: none;
}
.download_box .save_scopeType li {
    float: left;
    width: 253px;
    padding: 23px 0 0 0;
    text-align: center;
    line-height: 24px;
}
.popup_window {
    display: none;
    position: fixed;
    z-index: 3000;
    background-color: #fff;
}
.download_box {
    width: 765px;
/*     margin: -300px 0 0 -383px; */
}
.download_box .step {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    color: #808080;
}
.down_select_area {
    width: 632px;
    margin: 0 auto;
    padding: 5px 0 20px;
    overflow: hidden;
}
.down_select {
    float: left;
    width: 265px;
    height: 280px;
}
.down_select select {
    width: 265px;
    height: 220px;
    margin: 0;
    padding: 5px 0 5px 5px;
    border: solid 1px #bfbebc;
}
.btn_zone {
    float: left;
    width: 70px;
    padding: 105px 7px 0;
    text-align: center;
    overflow: hidden;
}
/**compare*/
div.comparepop {
    z-index: 1500;
}
.comparepop {
    width: 280px;
    font-size: 12px;
    position: relative;
    z-index: 800;
}
.comparepop .comparepop-content {
    width: 298px;
    border: 1px solid #ccd3e4;
    background-color: #fff;
    float: left;
}
ol, ul {
    list-style: none;
}
Inherited from li
.comparepop .comparepop-list li {
    padding: 0 30px 8px 10px;
    margin-top: 8px;
    border-bottom: dotted 1px #ccd3e4;
    position: relative;
    line-height: 20px;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
Inherited from ul.comparepop-list
.comparepop a.comparepop-btn:hover, .comparepop a.comparepop-btn:link, .comparepop a.comparepop-btn:visited {
    text-decoration: none;
    background-color: #3b5998;
    color: #fff;
}
.comparepop a.comparepop-btn {
    display: inline-block;
    width: 28px;
    text-align: left;
    padding: 10px;
    line-height: 16px;
    overflow: hidden;
    float: right;
    position: relative;
}
Inherited from div.comparepop
.comparepop {
    width: 280px;
    font-size: 12px;
    position: relative;
    z-index: 800;
}
.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 100;
}
.btn, .btn:link, .btn:visited {
    font-family: "\5B8B\4F53";
    display: inline-block;
    color: #3b5b98;
    border: 1px solid #ccd3e4;
    background-color: #fafbfc;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.btn-orange, .btn-orange:link, .btn-orange:visited {
    color: #fff;
    border: 1px solid #cc5f00;
    background-color: #f70;
}
